<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button [routerLink]="['/create']">POST example</ion-button>
  <ion-button [routerLink]="['/readall']">GET example</ion-button>
  <ion-button [routerLink]="['/read']">GET by ID & DELETE example</ion-button>
  <ion-button [routerLink]="['/update']">PUT example</ion-button>

</ion-content>